:root {
	--clr-black: #222;
	--ff-primary: "Helvetica";
	--ff-secondary: 'Open Sans', sans-serif;
	--ff-color-menu: hsl(2deg 79% 55%);
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-secondary);
	background: var(--clr-grey-10);
	color: var(--clr-grey-1);
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/*NAVBAR START*/
nav {
	background: var(--clr-white);
	box-shadow: var(--light-shadow);
}
.nav-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 10px;
	position: sticky;
}
.nav-toggle {
	font-size: 1.5rem;
	color: hsl(2deg 79% 55%);
	background: transparent;
	border-color: transparent;
	transition: var(--transition);
	cursor: pointer;
	position: relative;
	top: 0;
	right: 0;
	margin-top: -24px;
	margin-right: 10px;
}
.nav-toggle:hover {
	color: var(--clr-primary-1);
	transform: rotate(360deg);
}
.fa-bars {
	color: var(--ff-color-menu);
}
#nav__logo {
	height: 121px;
}
.links a {
	color: var(--clr-grey-3);
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	display: block;
	padding: 0.5rem 1rem;
	transition: var(--transition);
}
.links a:hover {
	background: var(--clr-primary-8);
	color: var(--clr-primary-5);
	padding-left: 1.5rem;
}
.social-icons {
	display: none;
}
.links {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}
.show-links {
	height: 10rem;
}
/*END NAVBAR*/

/* START MEDIAQUERIES --IPAD-- NAVBAR*/
@media screen and (min-width: 768px) {
	.nav-center {
		max-width: 1170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	.nav-header {
		padding: 0;
	}
	.nav-toggle {
		display: none;
	}
	.links {
		height: auto;
		display: flex;
	}
	.links a {
		padding: 0;
		margin: 0 0.5rem;
	}
	.links a:hover {
		padding: 0;
		background: transparent;
	}
	.social-icons {
		display: flex;
	}
	.social-icons a {
		margin: 0 0.5rem;
		color: var(--clr-primary-5);
		transition: var(--transition);
	}
	.social-icons a:hover {
		color: var(--clr-primary-7);
	}
}
/* END MEDIAQUERIES --IPAD--NAVBAR*/

/*START MEDIA QUERIES --PC-- NAVBAR*/
@media screen and (min-width: 1200px) {
	.links {
		margin-right: 46px;
	}
	.logo {
		height: 199px;
	}
}
/*END MEDIA QUERIES --PC-- NAVBAR*/

/*HEADER START*/
.hero {
	width: 100vw;
	height: 40vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#hero__photo {
	object-fit: contain;
	width: 100%;
	opacity: 0.6;
}
.hero-title {
	margin-top: -138px;
	z-index: 1;
	align-self: center;
}
.title-agenzia {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}
/*END HEADER*/

/*START MEDIA QUERIES --IPAD-- HEADER*/
@media screen and (min-width: 768px) {
	.hero-title {
		margin-top: -256px;
	}
	.title-agenzia {
		font-size: 28px;
	}
}
/*END MEDIA QUERIES IPAD HEADER*/

/*START MEDIA QUERIES --PC-- HEADER*/
@media screen and (min-width: 1200px) {
	.hero-title {
		margin-top: -402px;
	}
}
/*END MEDIA QUERIES --PC-- HEADER*/

/*START SECTION CARD*/
.feature .container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 24px 16px;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	background-color: white;
}

.feature.feature--inverse .container {
	flex-direction: row-reverse !important;
}

.feature .container > * {
	max-width: 90%;
}

.feature__info {
	padding: 10px 12px;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.feature__info h2 {
	font-size: 2.14rem;
	font-weight: 400;
	line-height: 3rem;
	font-family: Helvetica, Arial, sans-serif;
}

.feature__info p {
	line-height: 30px;
	text-align: justify;
}

.feature__image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.feature__image img {
	max-width: 300px;
}

#features__girl {
	background-color: #f5f7fa8a;
}

/*END SECTION CARD*/

/*MEDIA QUERIE --IPAD-- CARD*/
@media (min-width: 768px) {
	.feature .container > * {
		width: 50%;
	}
	#features__agency {
		margin-top: 80px;
	}
	.feature__info {
		align-items: flex-start;
		text-align: left;
	}
}
/*PARTNER carusel*/

.main {
	position: relative;
}
.main__title {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.main__title > h2 {
	line-height: 3rem;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.14rem;
	font-weight: 400;
}

.main__section__carusel {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none; /*Mozilla hide scrollBar*/
	padding: 20px 0px;
}
/*hide scrollbar Mozilla and Safari*/
.main__section__carusel::-webkit-scrollbar {
	display: none;
}
.main__section__carusel__card {
	margin-left: 8px;
	position: relative;
	width: 150px;
	height: auto;
	cursor: pointer;
	background-color: white;
	transition: transform 150ms ease-in;
	align-self: center;
}

.main__section__carusel__card > img {
	width: 150px;
	height: auto;
	border-radius: 4px;
}

.main__section__carusel__card > .carusel__card__text {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(20, 20, 20, 0.7);
	display: none;
}
.carusel__card__text {
	padding-left: 24px;
}
.main__section__carusel__card:hover {
	transform: scale(1.4); /*la img se agranda en el espacio que tenemos definido */
	z-index: 10;
}
.main__section__carusel__card:hover > .carusel__card__text {
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
/*END PARTNER*/
/*FORM*/
/* form {
	display: flex;
	flex-direction: column;
	width: 350px;
	padding: 28px;
}
textarea {
	display: flex;
	width: 100%;
	height: 215px;
}
label {
	list-style: none;
} */
.contact {
	width: 328px;
	margin: 50px 28px 50px 28px;
	box-shadow: 0 0 15px 3px rgb(0 0 0 / 20%);
}

.contact .head {
	padding: 30px;
	background-color: #ca1e1e;
	color: #fefefe;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact .head h3 {
	margin: 0;
	float: left;
	font-size: 18px;
	letter-spacing: 2px;
}

.contact .head i {
	float: right;
	color: #fefefe;
}

.contact form {
	padding: 30px;
	background-color: #fff;
}

.contact form label {
	display: block;
	margin-bottom: 5px;
	letter-spacing: 1px;
	color: #161921;
}

.contact form > input {
	height: 32px;
	margin-bottom: 20px;
}

.contact form > input,
.contact form > textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #eee;
}

.contact form > textarea {
	height: 70px;
	margin-bottom: 40px;
	resize: none;
}

.contact form button {
	display: block;
	width: 80%;
	margin: auto;
	padding: 18px;
	letter-spacing: 1px;
	background: #ca1e1e;
	color: #fefefe;
	border: none;
	border-radius: 40px;
	-webkit-box-shadow: 0px 4px 8px rgba(165, 126, 157, 0.62);
	box-shadow: 0px 4px 8px rgba(165, 126, 157, 0.62);
	cursor: pointer;
}

.contact form > input:focus,
.contact form > textarea:focus,
.contact form button:focus {
	outline: 0;
}

.contact .head h3,
.contact form button {
	text-transform: uppercase;
}
